ody{
  background: #f2f5f5;
}
.btn {
  background: #949499;
  color: #fff;
  border: none;
  padding: 0.25em 0.5em;
  margin: 0.1em;
}

.btn-lg {
  padding-left: 1.5em;
  padding-right: 1.5em;
}

.display {
  background: #e8e8d8;
  border: none;
  max-width: 75%;
}
.row {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.panel {
  background: #cfd6d6;
  width: 65%;
  padding: 0.5em;
}
